.container .wwd-img {
	margin-top: 4em;
	width: auto;
	height: auto;
}
h1 {
	margin-top: 0.5em;
	font-size: 4em;
	color: #674172;
	margin-bottom: 0.3em;
}
p {
	font-size: 2.5em;
	margin-bottom: 2em;
}
.more-link:hover {
	color: #000000;
	border-bottom: 1px solid #000;
}
.gallery {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
.gallery li {
	list-style: none;
	margin-bottom: 25px;
	height: 300px;
}
.gallery li img {
	cursor: pointer;
	max-height: 265px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.gallery li video {
	max-height: 220px;
	-webkit-transition-duration: 0.4s;
  	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.g_object {
	max-height: 220px;
	margin-bottom: 4em;
	margin-top: 2em;
}
.img_object {
	max-height: 220px;
	margin-bottom: 4em;
	margin-top: 2em;
}
.gallery li .article-img {
	width: auto;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
	height: auto;
}

.modal-dialog {
	width: 640px;
}
.modal-dialog p {
	padding-left: 2em;
	font-size: 20px;
}
.modal-header {
	border-bottom: none;
	margin-top: -10px;
}
.modal-content {
	background-color: #bdc3c7;
}
.overlay {
	width: 100%;
	height: 100%;
	max-height: 220px;
	background-color: rgba(0,0,0,0.4);
	top: 0;
	left: 0;
	position: absolute;
	pointer-events: none;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
  	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.overlay:hover {
	background-color: rgba(0,0,0,1);
	-webkit-transition-duration: 0.4s;
  	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.img-overlay {
	max-width: 342px;
	width: 342px;
	height: 211px;
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	bottom: 6px;
	left: 19px;
	-webkit-transition-duration: 0.4s;
  	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.img-overlay:hover {
	background-color: rgba(0,0,0,0.7);
	-webkit-transition-duration: 0.4s;
  	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.img-overlay h2 {
	color: #FFF;
	position: absolute;
	bottom: 10px;
	margin-left: 0.5em;
}
.overlay img {
	padding-top: 18%;
	pointer-events: none;
	margin-left: auto;
	margin-right: auto;
}
.btn-load-more {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 2em;
	background-color: #FFFFFF;
	font-size: 24px;
}
.modal-footer {
	text-align: left;
}
video {
	background-color: rgba(0,0,0,1);
	cursor: pointer;
}
@media screen and (max-width: 1200px) {
	.gallery li video {
		max-height: 179px;
	}
	.overlay {
		max-height: 179px;
	}
	.g_object {
		max-height: 179px;
		-webkit-transition-duration: 0.4s;
	  	-moz-transition-duration: 0.4s;
		-o-transition-duration: 0.4s;
		transition-duration: 0.4s;
	}
	.img_object {
		max-height: 179px;
		-webkit-transition-duration: 0.4s;
	  	-moz-transition-duration: 0.4s;
		-o-transition-duration: 0.4s;
		transition-duration: 0.4s;
	}
	.overlay img {
		padding-top: 16%;
	}
	.img-overlay {
		max-height: 170px;
		max-width: 276px;
	}
}
@media screen and (max-width: 990px) {
	.gallery li video {
		max-height: 207px;
	}
	.overlay {
		max-height: 207px;
	}
	.g_object {
		max-height: 207px;
		-webkit-transition-duration: 0.4s;
	  	-moz-transition-duration: 0.4s;
		-o-transition-duration: 0.4s;
		transition-duration: 0.4s;
	}
	.img_object {
		max-height: 207px;
		-webkit-transition-duration: 0.4s;
	  	-moz-transition-duration: 0.4s;
		-o-transition-duration: 0.4s;
		transition-duration: 0.4s;
	}
	.overlay img {
		padding-top: 16%;
	}
	.img-overlay {
		max-height: 199px;
		max-width: 322px;
		margin-bottom: -2px;
	}
}

@media (max-width: 768px) {
	.gallery li video {
		max-height: 268px;
		width: 426px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.overlay {
		max-height: 268px;
		width: 426px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.g_object {
		max-height: 268px;
		width: 426px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		-webkit-transition-duration: 0.4s;
	  	-moz-transition-duration: 0.4s;
		-o-transition-duration: 0.4s;
		transition-duration: 0.4s;
	}
	.img_object {
		max-height: 268px;
		width: 426px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		-webkit-transition-duration: 0.4s;
	  	-moz-transition-duration: 0.4s;
		-o-transition-duration: 0.4s;
		transition-duration: 0.4s;
	}
	.overlay img {
		padding-top: 16%;
	}
	.img-overlay {
		max-height: 302px;
		max-width: 400px;
		height: 240px;
		width: 388px;
		bottom: 26px;
	}
}
.thumbnail {
	border: none;
}
h4 {
	right: 10px;
	position: absolute;
	color: #FFF;
	bottom: 10px;
	font-size: 20px;
}
.gallery a:hover {
	opacity: 1;
}
.g_object:hover .overlay {
	background-color: rgba(0,0,0,0.7);
}
.close {
	opacity: .8;
	font-size: 28px;
}