.container .wwd-img {
	margin-top: 4em;
	width: auto;
	height: auto;
}
h1 {
	margin-top: 0.5em;
	font-size: 28px;
	color: #000000;
	margin-bottom: 0.3em;
}
p {
	font-size: 2.5em;
	margin-bottom: 2em;
}
.more-link:hover {
	color: #000000;
	border-bottom: 1px solid #000;
}
.gallery {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
.gallery li {
	list-style: none;
	margin-bottom: 3em;
	height: 300px;
}
.gallery li img {
	cursor: pointer;
	max-height: 265px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.gallery li video {
	max-height: 220px;
	-webkit-transition-duration: 0.4s;
  	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.g_object {
	max-height: 220px;
	margin-bottom: 4em;
	margin-top: 2em;
}
.img_object {
	max-height: 220px;
	margin-bottom: 4em;
	margin-top: 2em;
}
.gallery li .article-img {
	width: auto;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
	height: auto;
}

.modal-dialog {
	width: 640px;
}
.modal-dialog p {
	padding-left: 2em;
	font-size: 20px;
}
.modal-header {
	border-bottom: none;
	margin-top: -10px;
}
.modal-content {
	background-color: #bdc3c7;
}
.overlay {
	width: 100%;
	height: 100%;
	max-height: 220px;
	background-color: rgba(0,0,0,0.4);
	top: 0;
	left: 0;
	position: absolute;
	pointer-events: none;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
  	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.overlay:hover {
	background-color: rgba(0,0,0,1);
	-webkit-transition-duration: 0.4s;
  	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.img-overlay {
	max-width: 342px;
	width: 342px;
	height: 50px;
	background-color: #414141;
	position: absolute;
	bottom: 5px;
	left: 19px;
	-webkit-transition-duration: 0.4s;
  	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.overlay img {
	padding-top: 18%;
	pointer-events: none;
	margin-left: auto;
	margin-right: auto;
}
.btn-load-more {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 2em;
	background-color: #ecf0f1;
	font-size: 24px;
}
.btn-load-more:hover {
	background-color: #E6E6EC;
}
.modal-footer {
	text-align: left;
}
video {
	background-color: rgba(0,0,0,1);
	cursor: pointer;
}
.img-overlay h2 {
	color: #FFF;
	margin-top: 5px;
	margin-left: 0.5em;
	margin-bottom: 0px;
	font-size: 16px;
}
h4 {
	margin-left: 0.8em;
	margin-top: 5px;
	color: #FFF;
	bottom: 10px;
	font-size: 12px;
}
h4:hover {
	text-decoration: underline;
}
@media screen and (max-width: 1200px) {
	.gallery li video {
		max-height: 179px;
	}
	.overlay {
		max-height: 179px;
	}
	.g_object {
		max-height: 179px;
		-webkit-transition-duration: 0.4s;
	  	-moz-transition-duration: 0.4s;
		-o-transition-duration: 0.4s;
		transition-duration: 0.4s;
	}
	.img_object {
		max-height: 179px;
		-webkit-transition-duration: 0.4s;
	  	-moz-transition-duration: 0.4s;
		-o-transition-duration: 0.4s;
		transition-duration: 0.4s;
	}
	.overlay img {
		padding-top: 16%;
	}
	.img-overlay {
		max-height: 50px;
		max-width: 276px;
	}
}
@media screen and (max-width: 990px) {
	.gallery li video {
		max-height: 207px;
	}
	.overlay {
		max-height: 207px;
	}
	.g_object {
		max-height: 207px;
	}
	.img_object {
		max-height: 207px;
	}
	.img-overlay {
		max-height: 50px;
		max-width: 322px;
		margin-bottom: -2px;
	}
}

@media (max-width: 768px) {
	.gallery li video {
		max-height: 220px;
		width: 424px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.overlay {
		max-height: 220px;
		width: 424px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.g_object {
		max-height: 220px;
		width: 422px;
		margin-left: 20%;
		margin-right: auto;
		display: block;
	}
	.img_object {
		max-height: 268px;
		width: 426px;
		margin-left: 20%;
		margin-right: auto;
		display: block;
	}
	.img-overlay {
		max-width: 400px;
		width: 388px;
		bottom: 27px;
	}
	.gallery li {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
.thumbnail {
	border: none;
	background-color: rgba(0,0,0,0);
}
@media (max-width: 560px) {
	.g_object {
		margin-left: 10%;
	}
	.img_object {
		margin-left: 10%;
		display: block;
	}
}
@media (max-width: 500px) {
	.g_object {
		margin-left: 2%;
	}
	.img_object {
		margin-left: 2%;
	}
}
@media (max-width: 450px) {
	.gallery li video {
		max-height: 240px;
		width: 340px;
	}
	.overlay {
		max-height: 240px;
		width: 340px;
	}
	.g_object {
		max-height: 310px;
		width: 340px;
	}
	.img_object {
		max-height: 310px;
		width: 340px;
	}
	.img-overlay {
		max-width: 302px;
		width: 302px;
		bottom: 62px;
	}
	.gallery li {
		margin-top: -10px;
		margin-bottom: -10px;
	}
	h2 {
		margin-bottom: 2px;
	}
	h4 {
		margin-bottom: 2px;
	}
}
@media (max-width: 370px) {
	.gallery li video {
		width: 280px;
	}
	.overlay {
		width: 280px;
	}
	.g_object {
		width: 280px;
		margin-bottom: 2em;
		margin-left: 6%;
	}
	.img_object {
		width: 280px;
		margin-left: 6%;
	}
	.img-overlay {
		max-width: 242px;
		bottom: 100px;
	}
	.gallery li {
	    margin-top: -25px;
	    margin-bottom: -30px;
	}
	h1 {
		margin-bottom: 1em;
	}
}
@media screen and (max-width: 320px) {
	.g_object {
		margin-left: 2%;
	}
	.img_object {
		margin-left: 2%;
	}
}
.gallery a:hover {
	opacity: 1;
}
.g_object:hover .overlay {
	background-color: rgba(0,0,0,0.7);
}
.close {
	opacity: .8;
	font-size: 28px;
}
.i-overlay {
	width: 100%;
	height: 100px;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	bottom: 6px;
}
