footer {
	padding: 1em 0;
	padding-bottom: 0px;
	color: #808080;
	text-align: center;
	background-color: #414141;
	background-image: url('img/bg.png');
}
.connect {
	width: 25px;
	margin-right: 10px;
	height: auto;
	-webkit-transition-duration: 0.4s;
  	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
footer a {
	color:#dddddd;
}
footer a:hover {
	color:#dddddd;
}
footer ul {
	list-style: none;
	text-align: left;
	margin-bottom: 16px;
}

.related-links li {
	text-align: left;
	margin-right: 2.4em;
}

.connect-links li {
	text-align: left;
	margin-left: 2.3em;
}
.table, .table-small {
	display: none;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	border-top: none;
	padding-left: 40px;
	font-size: 18px;
}
.table-small td{
	padding: 8px;
	border-top: none;
	padding-left: 40px;
	font-size: 18px;
}
footer ul li {
	display: inline-block;
	font-size: 18px;
	line-height: 35px;
}
footer h3 {
	margin-left: 38px;
	font-size: 1.4em;
	margin-bottom: 1em;
	color: rgba(221, 221, 221, 0.2);
}
.connect-head {
	margin-left: 86px;
}

footer ul.text-center {
	margin-left: 54px;
	border-top: 2px solid #808080;
	padding-top: 1em;
	margin-top: 1em;
	margin-right: 54px;
}
footer ul.text-center li {
	margin-right: 1.8em;
	margin-left: 1.5em;
}
.small-links {
	display: none;
}
.small-links li {
	display: block;
	margin-left: -16px;
}
@media screen and (max-width: 1200px) {
	.connect-head {
		margin-left: 38px;
	}
	.connect-links li {
		margin-left: -7px;
		margin-right: 2.1em;
	}
}
@media screen and (max-width: 1200px) {
	.related-links li {
		margin-right: 4.4em;
	}
}
@media screen and (max-width: 694px) {
	.related-articles {
		display: none;
	}
	.table {
		display: block;
	}
}
@media screen and (max-width: 447px) {
	.table {
		display: none;
	}
	.table-small {
		display: block;
	}
}
/*@media screen and (max-width: 699px) {
	.oo {
		margin-left: 24px;
	}
}
@media screen and (max-width: 431px) {
	.wwb {
		margin-left: 44px;
	}
}
@media screen and (max-width: 352px) {
	.wwb {
		margin-left: 0px;
	}
}*/
@media screen and (max-width: 360px) {
	.connect {
		margin-right: 0px;
	}
}
@media screen and (max-width: 325px) {
	.small-links {
		display: block;
	}
	.table-small {
		display: none;
	}
}
@media screen and (max-width: 380px) {
	.related-links-section {
		display: none;
	}
	#extra-links ul li {
		font-size: 14px;
		line-height: 32px;
	}
}
