.navbar {
	font-size: 20px;
	border-radius: 0px;
	margin-bottom: 0px;
	border: none;
	background-color: #414141;
	box-shadow: 0px 2px 5px #000000;
	z-index: 200;
	height: 96px;

}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: -2px
}
.nav > li > a {
	padding: 12px 12px;
}
.navbar-inverse .navbar-collapse {
	border-top: none;
	background-color: #414141;
	box-shadow: 0px 1px 0px #414141 inset;
}
.navbar-inverse .navbar-nav > li > a{
	color: #FFFFFF;
	height: 96px;
	padding-top: 34px;
}
.navbar-inverse .navbar-brand {
	padding-top: 5px;
}
.navbar-header {
	border-bottom: none;
}

.navbar-inverse .navbar-header > a:hover {
	opacity: 1;
}
@media screen and (max-width: 1074px) {
	.navbar {
		font-size: 16px;
	}
}
@media screen and (max-width: 960px) {

	#collapsable-nav a {
		background-color: #414141;
	}
	#collapsable-nav a:hover {
		background-color: #353535;
	}
}
@media screen and (max-width: 918px) {
	.navbar {
		font-size: 14px;
	}
}
@media screen and (max-width: 856px) {
	.navbar {
		font-size: 13px;
	}
}
nav > a:hover {
	opacity: 1;
}

.navbar-inverse .navbar-nav > li > a:hover {
	background-color: #353535;
	vertical-align: middle;
	opacity: 1;
}
@media screen and (max-width: 817px) {
	#collapsable-nav {
		padding-top: 1em;
	}
	.navbar-inverse .navbar-nav > li > a {
		height: 60px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 3em;
	}
}
@media screen and (max-width: 818px) {
	.navbar-inverse .navbar-nav > li > a {
		height: 60px;
		padding-top: 26px;
		padding-bottom: 20px;
		padding-left: 6px;
	}
}
.navbar-toggle {
	margin-top: 30px;
	margin-bottom: 30px;
}
.wwa-body .wwa-nav, .wwb-body .wwb-nav, .offering-body .offering-nav a, .what-we-do-body .what-we-do-nav a, .who-will-benefit-body .who-will-benefit-nav a, .features-body .features-nav a, .contact-us-body .contact-us-nav a{
	background-color: #353535;
}
@media (max-width: 830px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}
.navbar .container-fluid {
	padding-left: 0;
	padding-right: 0;
}