.navbar {
	font-size: 25px;
	border-radius: 0px;
	margin-bottom: 0px;
	border: none;
	background-color: #414141;
	box-shadow: 0px 2px 5px #000000;
	z-index: 99999;
	height: 80px;
}
.navbar-inverse .navbar-nav > li > a{
	color: #FFFFFF;
	height: 80px;
	padding-top: 27px;
}
.navbar-inverse .navbar-brand {
	padding-top: 5px;
}
.navbar-inverse .navbar-nav > li > a:hover {
	background-color: #353535;
	vertical-align: middle;
}

@media screen and (max-width: 1000px) {
	.navbar {
		font-size: 20px;
	}
}
@media screen and (max-width: 900px) {
	.navbar {
		font-size: 15px;
	}
}