.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
    background: url(../img/Slider_Circles.svg) no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb21 div {
    background-position: -30px 0px;
}

.jssorb21 div:hover, .jssorb21 .av:hover {
    background-position: -60px 0px;
}

.jssorb21 .av {
    background-position: 0px 0px;
}

.jssorb21 .dn, .jssorb21 .dn:hover {
    background-position: -90px 0px;
}
/*.jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../slider/img/a21.png) center center no-repeat;
    overflow: hidden;
}

.jssora21l {
    background-position: -3px -33px;
}

.jssora21r {
    background-position: -63px -33px;
}*/

.jssora21l:hover {
    background-position: -123px -33px;
}

.jssora21r:hover {
    background-position: -183px -33px;
}

.jssora21ldn {
    background-position: -243px -33px;
}

.jssora21rdn {
    background-position: -303px -33px;
}

/* Slider Inline CSS */
.slider_container {
    position: relative;
    margin-top: -39px;
    margin-bottom: 0px;
    top: 0px;
    left: 0px;
    width: 1300px;
    height: 600px;
    overflow: hidden;
    color: rgba(0,0,0,0.5);
}

.overlay {
    width: 100%;
    height: 100%;
    color: rgba(0,0,0,0.5);
    position: absolute;
}
.container-fluid {
    color: rgba(0,0,0,0.5);
}
.sl_loading {
    position: absolute; 
    top: 0px;
    left: 0px;
}
.sl_loading_comp_1 {
    filter: alpha(opacity=70);
    opacity: 0.7;
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.sl_loading_comp_2 {
    position: absolute;
    display: block;
    background: url(../slider/img/loading.gif) no-repeat center center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.slides_container {
    cursor: move;
    position: absolute;
    left: 0px;
    top: 10px;
    width: 1300px;
    height: 600px;
    overflow: hidden;
}
.slides_container .slidess {
    width: 600px;
}
.stupid_message_1 {
    position: absolute;
    width: 1300px;
    height: 600px;
    /*top: 30px;
    left: 30px;*/
    padding: 5px;
    text-align: left;
    line-height: 60px;
    font-size: 60px;
    color: #FFFFFF;
    background-color: rgba(0,0,0,0.5);
}
.slider-title {
    margin-top: 150px;
}
.slider-title-line1 {
    margin-top:150px;
    padding-left: 25%;
}
.slider-title-line2 {
    padding-left: 45%;
}
.slider-title-line3 {
    margin-top:150px;
    padding-left: 35%;
}
.slider-title-line4 {
    padding-left: 45%;
}
.slider-title-line5 {
    padding-left: 60%;
}
.stupid_message_2 {
    position: absolute;
    width: 100%;
    height: 120px;
    top: 470px;
    padding: 5px;
    padding-left: 0px;
    text-align: left;
    line-height: 36px;
    font-size: 30px;
    color: #FFFFFF;
}
.slide_nav {
    position: absolute;
    bottom: 26px;
    left: 6px;
}
.slide_nav_inner {
    position: absolute;
    width: 21px;
    height: 21px;
    text-align:center;
    line-height:21px;
    color:#FFFFFF;
    font-size:12px;
}
.slide_nav_innerav {
    position: absolute;
    width: 21px;
    height: 21px;
    text-align:center;
    line-height:21px;
    color:#FFFFFF;
    font-size:12px;
}
.arrow_left {
    width: 55px;
    height: 55px;
    top: 123px;
    left: 8px;
}
.arrow_right {
    width: 55px;
    height: 55px;
    top: 123px;
    right: 8px
}
.slide-link {
    color: #FFFFFF;
}
.slide-link:hover {
    color: #dddddd;
    text-decoration: none;
}
.slide-more-link {
    position: absolute;
    line-height:19px;
    top: 480px;
    width: 100%;
}
.slide-more-link a {
    color: #FFFFFF;
}
.slide-more-link a:hover {
    color: #FFFFFF;
}
@media screen and (max-width: 768px) {
    .slider_container {
        width: 768px;
        height: 600px;
    }
    .stupid_message_1 {
        width: 768px;
        height: 600px;
    }
    .slides_container {
        width: 768px;
        height: 600px;
    }
}