video {
	width: 100%;	
}
.video-carousel {
	display: none;
}
@media screen and (max-width: 768px) {
	.video-carousel {
		display: block;
	}
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
	top: 45%;
}