.jssora13l, .jssora13r, .jssora13ldn, .jssora13rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../img/Arrow_Right_Filled.svg) no-repeat;
    background-size: 70px 70px;
    overflow: hidden;
    width: 70px;
    height: 70px;
}

.jssora13l {
    background-position: 0px -0px;
    width: 70px;
    height: 70px;
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.jssora13r {
    background-position: 0px 0px;
    width: 70px;
    height: 70px;
}

.jssora13ldn {
    background-position: -250px -35px;
    background: url(../img/Arrow_Right_Filled.svg) no-repeat;
    background-size: 70px 70px;
    overflow: hidden;
    width: 70px;
    height: 70px;
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.jssora13rdn {
    background-position: -310px -35px;
    background: url(../img/Arrow_Right_Filled.svg) no-repeat;
    background-size: 70px 70px;
    overflow: hidden;
    width: 70px;
    height: 70px;
}
#video-slider {
    margin-bottom: 3em;
}
.heading a:hover {
    color: #000000;
}
.video-slides img{
    display: table;
    margin: 0 auto;
    margin-top: 95px;
}
.video-slides div{
    border: 1px solid #ddd;
}