video {
	width: 100%;
}
.video-carousel {
	display: none;
	position: relative;
}
@media screen and (max-width: 768px) {
	.video-carousel {
		display: block;
	}
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
	top: 45%;
}
.carousel-control {
	position: initial;
}
.left-arrow, .right-arrow {
    position: absolute;/*
    margin-left: -2.5em;*/
    height: 23%;
    top: 34%;
}
.left-arrow img {
	-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.left-arrow img, .right-arrow img {
	height: 100%;
}
.right-arrow {
	right: 0px;
}
.video-carousel .carousel-indicators li {
	border: 1px solid #414141;
}
.video-carousel .carousel-indicators {
	margin-bottom: -54px;
}
.video-carousel .carousel-indicators .active {
	background-color: #414141;
	margin-bottom: 1px;
}
.video-carousel {
	padding-bottom: 2em;
}
.video-carousel video {
	border: 1px solid #383838;
}
