@media screen and (max-width: 1200px) {
	.panel-content {
		width: 68%;
	}
	#extra-links > ul > li {
		width: 163px;
	}
}
@media screen and (max-width: 900px) {
	.firm-tiles {
		width: 49%;
		border-right: none;
	}
	.firm-tiles-container {
		padding: 4px 0px;
	}
	.firm-tiles{
	    position: relative;
	}
	/* Add bottom border for all boxes except the last two */
	.firm-tiles:not(:nth-last-child(2)):not(:last-child):after{
	    content: '';
	    position: absolute;
	    bottom: 0;
	    width: 70%;
	    left: 15%;
	    height: 1px;
	    background-color: #ddd;
	}
	/* Add right border for all odd indexed boxes (1,3,5...) */
	.firm-tiles:nth-child(2n+1):before{
	    content: '';
	    position: absolute;
	    right: 0;
	    height: 70%;
	    top: 15%;
	    width: 1px;
	    background-color: #ddd;
	}
}
@media screen and (max-width: 768px) {
	footer h3 {
		text-align: center;
		padding-left: 0px;
	}
	.panel-content {
		width: 62%;
	}
	.navbar .container-fluid {
		padding-right: 0;
		padding-left: 0;
	}
	.navbar-collapse {
		padding-top: 12px;
	}
	.banner-word {
		top: 80px;
	}
	.navbar-toggle {
		margin-top: 23px;
	}
}
@media screen and (max-width: 640px) {
	.panel-content {
		width: 90%;
	}
	.firm-tiles {
		width: 90%;
		margin: 0 5%;
	}
	.firm-tiles-container {
		padding: 10px 0px;
	}
	.firm-tiles:not(:last-child) {
		border-bottom: 1px solid #ddd;
	}
	.firm-tiles:not(:nth-last-child(2)):not(:last-child):after{
	    background-color: transparent;
	}
	.firm-tiles:nth-child(2n+1):before{
	    background-color: transparent;
	}
	#accordion {
		text-align: center;
	}
}
@media screen and (max-width: 470px) {
	
	.related-links li {
		width: 130px !important;
	}
	.related-links li:nth-child(2n+1) {
		text-align: right;
	}
	.related-links li:nth-child(2n+2) {
		text-align: left;
	}
	.banner-word {
		font-size: 22px;
	}
	.banner {
		background-position: center 0% !important;
	}
	.nav-top span {
		font-size: 10px;
	}
}
@media screen and (max-width: 350px) {
	.banner-word {
		top: 40px;
		font-size: 20px;
	}
}
@media screen and (max-width: 320px) {
	.related-links li {
		text-align: left !important;
	}
	.nav-top span {
		padding: 4px;
		font-size: 9px;
	}
}