/*purple #674172 */
.container .wwd-img {
	margin-top: 3em;
	width: auto;
	height: auto;
}
h1 {
	margin-top: 34px;
	font-size: 28px;
	color: #000000;
	margin-bottom: .5em;
}
h2 {
	font-size: 26px;
}
p {
	font-size: 15px;
	margin-bottom: 1em;
	margin-top: 1em;
	line-height: 24px;
}
.more-link:hover {
	color: #000000;
	border-bottom: 1px solid #000;
}
.panel-default > .panel-heading {
	background-color: #414141;
	color: #FFF;
	cursor: pointer;
	border-radius: 6px;
	-webkit-transition-duration: 0.4s;
  	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.panel-default > .panel-heading a:hover {
	color: #ddd;
}
.panel-title {
	font-size: 18px;
}
.panel-group .panel {
	border-radius: 6px;
}
.panel-heading-opened {
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	-webkit-transition-duration: 0.4s;
  	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
